/* last modified 2015-04-05 */

a:hover {
    color: #333333; /* ubuntu cool gray */
    background-color: #fdca01; /* ubuntu yellow */
}

h1,
h2,
h3 {
     color: #a14743; /* roof terracotta */
}

.navbar {
    color: #993300;
}

.grayed {
    color: gray;
}

.anchor {
    color: gray;
}

.dropcap {
    color: #72010f; /* venetian red */
}

.listing {
    background-color: #f7f6f5; /* ubuntu warm gray */
}
