/* last modified 2015-05-01 */

@import url(http://fonts.googleapis.com/css?family=Inconsolata);
@import url(http://fonts.googleapis.com/css?family=Cabin:400,500,600,700);

code {
    font-family: inconsolata, monospace;
}

/*
   .url {
  font-family: inconsolata, monospace;
}
 */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family:  cabin, sans-serif;
}

body {
  /* line-height: 1.35; */
}

h1 {
  font-size: 161.8034%;
}
