li.indent2 {
  text-indent: 2em;
}

li.indent3 {
  text-indent: 4em;
}

li.indent4 {
  text-indent: 6em;
}

ul.toclist {
  list-style-type: none;
}

.pyretexpr {
  /* color: cornflowerblue; */
}

.uncolored-code {
  color: unset;
}

.pyret-display {
  /* border-top: 0.055em solid black; */
  border-top: 1px solid #99b;
  font-style: monospace;
  /* background-color: #f2f2f2; */
  background-color: hsl(216, 78%, 95%);
}

.pyret-content {
  font-style: monospace;
}

.function {
  /* font-family: monospace; */
  /* background-color: #6bccdf; */
  /* background-color: #ffeeee; */
}

.good-ex {
  background-color: #eeffee;
}

.bad-ex {
  background-color: #ffeeee;
}

.margin-note {
  /* background-color: #fbfb88; */
  background-color: hsl(60, 29%, 94%);
  float: right;
  width: 25%;
  margin: 0 0 1em 1em;
  font-size: 0.9em;
  color: #555;
  padding-left: 0.75em;
  padding-right: 1em;
  border: 1px solid #ccb;
  border-left: 0.4rem solid #ccb;
}

.author {
  font-family: sans-serif;
}

.VSCode {
  position: relative;
  border: 1px dashed #54a4ec;
  border-radius: 0.5em;
}

.VSCode .vscode-icon::after {
  content: url(platforms/code-stable-small.png);
  float: right;
  margin-top: -1em;
  margin-right: -1em;
  position: relative;
  width: 2em;
  height: 2em;
}

.VSCodeCLI {
  position: relative;
  border: 1px dashed #275278;
  border-radius: 0.5em;
}

.VSCodeCLI .vscode-cli-icon::after {
  content: url(platforms/terminal-vscode.png);
  float: right;
  margin-top: -1em;
  margin-right: -1em;
  position: relative;
  width: 2em;
  height: 2em;
}

.CLI {
  position: relative;
  border: 1px dashed #2b2737;
  border-radius: 0.5em;
}

.CLI .cli-icon::after {
  content: url(platforms/GNOME_Terminal-small.png);
  float: right;
  margin-top: -1em;
  margin-right: -1em;
  position: relative;
  width: 2em;
  height: 2em;
}

.CPO {
  position: relative;
  border: 1px dashed #ee1d0f;
  border-radius: 0.5em;
}

.CPO .cpo-icon::after {
  content: url(platforms/pyret-logo-small.png);
  float: right;
  margin-top: -1em;
  margin-right: -1em;
  position: relative;
  width: 2em;
  height: 2em;
}

.nested {
  margin-top: 1em;
  margin-bottom: 1em;
}

.insetpara {
  margin-left: 1em;
  margin-right: 1em;
}

.glossary-sep {
  margin-top: 1em;
}

ul.glossary {
  list-style-type: none;
}


.repl-example  {
  margin-left: 1.5em;
  background-color: hsl(0,0%,95%);
}

.repl-example::before{
  content: '\203a\203a\203a';
  display: inline;
  line-height: 1em;
  float: left;
}

.paintBrush {
   height: 2.1em;
   margin-right: -0.5em;
   position: relative;
   z-index: 2;
}
.paintSpan {
   display: inline-block;
}
.paintBlob {
   width: 2.5em;
   height: 1.5em;
   position: relative;
   z-index: 1;
   vertical-align: baseline;
   display: inline-block;
   -webkit-mask-image: url(trove/paint.svg);
   mask-image: url(trove/paint.svg);
   -webkit-mask-size: contain;
   mask-size: 100% 100%;
   mask-type: luminance;
}
.checkersBlob {
   margin-right: -2.5em;
   width: 2.5em;
   height: 1.5em;
   position: absolute;
   background-image: url(trove/checkers.svg);
   background-size: 2.5em 1.5em;
   display: inline-block;
}

.container {
  width: 100%;
}

@media (min-width: 800px) {
  .container {
    max-width: 72ch;
    margin: 0 auto;
  }
}

.floatleft {
  float: left;
}

.floatright {
  float: right;
}

p {
  margin-top: 1em;
  margin-bottom: 1em;
}

ul.list-group {
  margin-top: 1em;
  margin-bottom: 1em;
}

ul.toclist {
  margin-top: 1em;
  margin-bottom: 1em;
}

h1,h2,h3,h4,h5,h6 {
  margin-left: -1em;
}

h1 {
  font-size: 35px;
}

h2 {
  margin-top: 1em;
  font-size: 25px;
}

h3 {
  font-size: 20px;
}
