li.indent2 {
  text-indent: 2em;
}

ul.toclist {
  list-style-type: none;
}

.pyretexpr {
  /* color: cornflowerblue; */
}

.uncolored-code {
  color: unset;
}

.pyret-display {
  border-top: 0.055em solid black;
  font-style: monospace;
  background-color: #f2f2f2;
}

.pyret-content {
  font-style: monospace;
}

.function {
  /* font-family: monospace; */
  /* background-color: #6bccdf; */
  /* background-color: #ffeeee; */
}

.good-ex {
  background-color: #eeffee;
}

.bad-ex {
  background-color: #ffeeee;
}

.margin-note {
  background-color: #fbfb88;
  float: right;
  width: 25%;
  margin: 0 0 1em 1em;
  font-size: 0.9em;
  color: #555;
}

.author {
  font-family: sans-serif;
}

.VSCode {
  position: relative;
  border: 1px dashed #54a4ec;
  border-radius: 0.5em;
}

.VSCode .vscode-icon::after {
  content: url(platforms/code-stable-small.png);
  float: right;
  margin-top: -1em;
  margin-right: -1em;
  position: relative;
  width: 2em;
  height: 2em;
}

.VSCodeCLI {
  position: relative;
  border: 1px dashed #275278;
  border-radius: 0.5em;
}

.VSCodeCLI .vscode-cli-icon::after {
  content: url(platforms/terminal-vscode.png);
  float: right;
  margin-top: -1em;
  margin-right: -1em;
  position: relative;
  width: 2em;
  height: 2em;
}

.CLI {
  position: relative;
  border: 1px dashed #2b2737;
  border-radius: 0.5em;
}

.CLI .cli-icon::after {
  content: url(platforms/GNOME_Terminal-small.png);
  float: right;
  margin-top: -1em;
  margin-right: -1em;
  position: relative;
  width: 2em;
  height: 2em;
}

.CPO {
  position: relative;
  border: 1px dashed #ee1d0f;
  border-radius: 0.5em;
}

.CPO .cpo-icon::after {
  content: url(platforms/pyret-logo-small.png);
  float: right;
  margin-top: -1em;
  margin-right: -1em;
  position: relative;
  width: 2em;
  height: 2em;
}

.nested {
  margin-top: 1em;
  margin-bottom: 1em;
}

.insetpara {
  margin-left: 1em;
  margin-right: 1em;
}

.glossary-sep {
  margin-top: 1em;
}

ul.glossary {
  list-style-type: none;
}

