li.indent2 {
  text-indent: 2em;
}

ul.toclist {
  list-style-type: none;
}

.pyretexpr {
  color: cornflowerblue;
}

.function {
  font-family: monospace;
  background-color: #6bccdf;
}

.margin-note {
  float: right;
  width: 25%;
  margin: 0 0 1em 1em;
  font-size: 0.9em;
  color: #555;
}

